.offset {
	margin-top: 55px;
	height: calc(100%-55px);
}

.empty-state {
	padding: 20px;
	text-align: center;
	background: whitesmoke;
	border-radius: 4px;
}

.blue, .blue:hover {
	background: #3534ee;
	color: white
}