body {
	/*background-color: #D9BFA6;*/
}

h2 {
	background-color: #5B7694;
	color: #E9EAF2;
	margin: 5px;
	padding: 20px;
	border-radius: 5px;

}

img {
	border-radius: 5px;
	display: block;
	margin: 0 5px;
}

.extra {
	color: #5B7694;
	padding: 0 15px;
}

.project { 
	color: #5B7694;
}

#contact-info {
	color: #5B7694;
}

#email {
	color: #4796DC;
}

#link {
	color: #4796DC;
}

/*jumbotrons*/
.jumbotron{
	background-color: #5B7694;
	color: #E9EAF2;
	border-radius: 0px 0px 5px 5px;
}
.jumbotron h1 {
	margin-left: 5px;

}

.jumbotron p {
	margin-left: 10px;
}


/*well*/
.well {
	margin: 10px 5px;
}


/*navs*/
.nav{
	margin-bottom: 10px;
}
.nav.nav-tabs li a {
	color: #5B7694;
}

.nav.nav-tabs > li.active > a {
	color: #555555;
}

/*songs*/
.song {
	margin: 10px 25px;
}

/*transforms*/
h2 span {
	-webkit-transition:rotate .9s linear 0s;
	transition: rotate .9s linear 0s;
}
.transform {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*cursor*/
#expandable {
	cursor: pointer;
}